<div class="grid-container">

    <div>
        <h1 class="mat-h1">Sleep tracker</h1>
    </div>

    <mat-grid-list [cols]="(cards | async)?.[7]?.columns || (cards | async)?.[6]?.columns" rowHeight="12px">
        <mat-grid-tile *ngFor="let card of cards | async; let i = index" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="sleep-card"
                [ngClass]="{ 'first-card': i === 0, 'second-card': i === 1,'third-card': i === 2, 'forth-card': i === 3}">

                <!----------HEADERS OF THE MAT-CARDS ------------>
                <mat-card-header>
                    <mat-card-title *ngIf="i === 0">
                        <div class="card-header">
                            <mat-icon class="card-icon">alarm</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>
                    <mat-card-title *ngIf="i === 1">
                        <div class="card-header">
                            <mat-icon class="card-icon">score</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>
                    <mat-card-title *ngIf="i === 2">
                        <div class="card-header">
                            <mat-icon class="card-icon">hotel</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>
                    <mat-card-title *ngIf="i === 3">
                        <div class="card-header">
                            <mat-icon class="card-icon">nights_stay</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>
                    <mat-card-title *ngIf="i === 4">
                        <div class="card-header">
                            <mat-icon class="card-icon">remove_red_eye</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>
                    <mat-card-title *ngIf="i === 5">
                        <div class="card-header">
                            <mat-icon class="card-icon">repeat</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>
                    <mat-card-title *ngIf="i === 6">
                        <div class="card-header">
                            <mat-icon class="card-icon">assessment</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <!----------END OF HEADERS OF THE MAT-CARDS ------------>

                <!----------CONTENT OF THE MAT-CARDS ------------>

                <!--Sleep schedule-->
                <mat-card-content class="schedule-sleep-content" *ngIf="i === 0">
                    <ng-container>
                        <form [formGroup]="sleepForm">
                            <mat-form-field>
                                <mat-label>Sleep Start Time</mat-label>
                                <input matInput type="time" formControlName="sleepStartTime">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Wake Up Time</mat-label>
                                <input matInput type="time" formControlName="wakeUpTime">
                            </mat-form-field>

                            <button style="margin-left: 10px;" mat-raised-button color="primary"
                                (click)="saveSleepTimes()">Save</button>
                        </form>
                    </ng-container>
                </mat-card-content>

                <!--Sleep score-->
                <mat-card-content class="sleep-score-content" *ngIf="i === 1">
                    <mat-grid-list class="mat-grid-list-sleep-score" cols="2" rowHeight="3:1">

                        <mat-grid-tile class="sleep-score-mat-grid">
                            <div class="circle-progress-container">
                                <circle-progress [title]="getMessage().score" [percent]="score" [space]="-10"
                                    [radius]="45" [outerStrokeGradient]="false" [outerStrokeWidth]="11"
                                    [innerStrokeWidth]="11" [outerStrokeColor]="getCircleColor(score)"
                                    [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"
                                    [units]="' '" [showUnits]="true" [showSubtitle]="false" [titleFontSize]="'35'"
                                    [titleFontWeight]="'600'" [radius]="52">
                                </circle-progress>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile class="score-message-mat-grid">
                            <div>
                                <p class="title">{{ getMessage().title }}</p>
                                <p class="message">{{ getMessage().message }}</p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>


                <!--Asleep time-->
                <mat-card-content class="asleep-content" *ngIf="i === 2">
                    <div style="text-align: center; font-weight: bold; margin-top: 20px; font-size: x-large;"
                        *ngIf="sleepHours; else loading">
                        {{ sleepHours.hours || 0 }}h {{ sleepHours.minutes || 0 }}min
                    </div>
                    <ng-template #loading>
                        <div style="text-align: center; font-weight: bold; margin-top: 20px; font-size: x-large;">
                            0h 0min
                        </div>
                    </ng-template>
                    <div class="asleep-bar">
                        <div style="font-weight: bold;">0h</div>
                        <mat-progress-bar mode="determinate" [value]="asleepTimePercentage"></mat-progress-bar>
                        <div style="font-weight: bold;">{{ sleepGoalHrs ?? 0 }}h</div>
                    </div>
                    <div class="progress-message"
                        [ngStyle]="{ color: updateAsleepProgressMessage(asleepTimePercentage).color }">
                        {{ updateAsleepProgressMessage(asleepTimePercentage).title }}
                    </div>

                    <!-- Fell asleep and Woke up titles with times -->
                    <mat-grid-list class="mat-grid-list-asleep" cols="2" rowHeight="4:1">
                        <mat-grid-tile class="score-message-mat-grid">
                            <div>
                                <p class="message-average">Fell asleep at:</p>
                                <p class="title">{{ fellAsleep ?? 'No data' }}</p>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile class="score-message-mat-grid">
                            <div>
                                <p class="message-average">Woke up at: </p>
                                <p class="title">{{ wokeUp ?? 'No data'}}</p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>


                </mat-card-content>



                <!--Deep sleep-->
                <mat-card-content class="deep-sleep-content" *ngIf="i === 3">
                    <div style="text-align: center; font-weight: bold; margin-top: 10px; font-size: x-large;">
                        {{ deepSleepHours || 0 }}h {{ deepSleepMinutes || 0 }}min ({{deepSleepPercentage || 0 }}%)
                    </div>

                    <div style="margin-top: 10px;">
                        <app-interval-bar [userPercentage]="deepSleepPercentage"></app-interval-bar>
                    </div>
                </mat-card-content>

                <!--Awake-->
                <mat-card-content class="deep-sleep-content" *ngIf="i === 4">
                    <div style="text-align: center; font-weight: bold; margin-top: 10px; font-size: x-large;">
                        {{ awakeHours || 0}}h {{ awakeMinutes||0}}min ({{awakeCounter||0 }} times)
                    </div>

                    <div style="margin-top: 10px;"> <!-- Add some margin-top here -->
                        <app-awake-bar [userPercentage]="awakeCounter"></app-awake-bar>
                    </div>
                </mat-card-content>

                <!--Regularity-->
                <mat-card-content class="regularity-content" *ngIf="i === 5">
                    <mat-grid-list class="mat-grid-list-sleep-score" cols="2" rowHeight="3:1">

                        <mat-grid-tile class="sleep-score-mat-grid">
                            <div class="circle-progress-container">
                                <circle-progress [title]="regularityScore ?? 0" [percent]="regularityScore ?? 0"
                                    [space]="-10" [radius]="45" [outerStrokeGradient]="false" [outerStrokeWidth]="11"
                                    [innerStrokeWidth]="11" [outerStrokeColor]="getCircleColor(regularityScore)"
                                    [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"
                                    [units]="' '" [showUnits]="true" [showSubtitle]="false" [titleFontSize]="'35'"
                                    [titleFontWeight]="'600'" [radius]="52">

                                </circle-progress>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile class="score-message-mat-grid">
                            <div>
                                <p class="title">{{ getRegularityMessage().title }}</p>
                                <p class="message">{{ getRegularityMessage().message }}</p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-grid-list class="mat-grid-list-average-sleep-times" cols="2" rowHeight="4:1">
                        <mat-grid-tile class="score-message-mat-grid">
                            <div>
                                <p class="message-average">Average sleep start time</p>
                                <p class="title">{{ averageSleepStartTime ?? 'No data' }}</p>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile class="score-message-mat-grid">
                            <div>
                                <p class="message-average">Average wake up time</p>
                                <p class="title">{{ averageWakeUpTime ?? 'No data'}}</p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-grid-list class="mat-grid-list-average-sleep-times" cols="1" rowHeight="8:1">
                        <mat-grid-tile class="score-message-mat-grid">
                            <div>
                                <p class="message-average">Average sleep duration</p>
                                <p class="title">{{ averageSleepDuration.hours }}h {{averageSleepDuration.minutes}}min
                                </p>
                            </div>
                        </mat-grid-tile>

                    </mat-grid-list>


                </mat-card-content>

                <!----------END OF CONTENT OF THE MAT-CARDS ------------>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>