<div class="grid-container">

  <div class="dashboard-header">
    <h1 class="mat-h1">Dashboard Overview</h1>
    <p class="heart-points">
      <mat-icon class="icon">favorite_border</mat-icon> Cardio Points: <span class="points">{{ getCardioPointsSum()
        }}</span>
    </p>
  </div>

  <mat-grid-list [cols]="(cards | async)?.[8]?.columns || (cards | async)?.[7]?.columns" rowHeight="100px">
    <mat-grid-tile *ngFor="let card of cards | async; let i = index" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card"
        [ngClass]="{ 'first-card': i === 0, 'second-card': i === 1,'third-card': i === 2, 'forth-card': i === 3,'fifth-card': i === 4,'sixth-card': i === 5  }">

        <mat-card-content class="dashboard-first-card-content" *ngIf="i === 0">
          <div class="left-content">
            <h1> <span class="normal-text">Hello</span> {{loggedLastName}} {{loggedFirstName}}, </h1>
            <p>Have a nice day and don't forget to take care of your health!</p>
          </div>
          <div class="right-content">
            <app-live-clock></app-live-clock>
          </div>
        </mat-card-content>

        <!----------HEADERS OF THE MAT-CARDS ------------>
        <mat-card-header>

          <mat-card-title *ngIf="i === 1">
            <div class="hydration-card-header">
              <mat-icon class="hydration-card-icon">fastfood</mat-icon>
              <span class="hydration-card-title">{{card.title}}</span>
            </div>

          </mat-card-title>

          <mat-card-title *ngIf="i === 2">
            <div class="hydration-card-header">
              <mat-icon class="hydration-card-icon">water_drop</mat-icon>
              <span class="hydration-card-title">{{card.title}}</span>
            </div>

          </mat-card-title>

          <mat-card-title *ngIf="i === 3">
            <div class="hydration-card-header">
              <mat-icon class="hydration-card-icon">fitness_center</mat-icon>
              <span class="hydration-card-title">{{card.title}}</span>
            </div>

          </mat-card-title>

          <mat-card-title *ngIf="i === 4">
            <div class="hydration-card-header">
              <mat-icon class="hydration-card-icon">hotel</mat-icon>
              <span class="hydration-card-title">{{card.title}}</span>
            </div>

          </mat-card-title>

          <mat-card-title *ngIf="i === 5">
            <div class="hydration-card-header">
              <mat-icon class="hydration-card-icon">directions_walk</mat-icon>
              <span class="hydration-card-title">{{card.title}}</span>
            </div>

          </mat-card-title>


          <mat-card-title *ngIf="i === 6">
            <div class="hydration-card-header">
              <mat-icon class="hydration-card-icon">local_activity</mat-icon>
              <span class="hydration-card-title">{{card.title}}</span>
            </div>

          </mat-card-title>
        </mat-card-header>
        <!----------END OF HEADERS OF THE MAT-CARDS ------------>

        <!----------CONTENT OF THE MAT-CARDS ------------>
        <mat-card-content class="dashboard-hydration-tracker" *ngIf="i === 1">

          <button mat-icon-button class="toggle-button" (click)="toggleContent()">
            <mat-icon>swap_horiz</mat-icon>
          </button>

          <div class="hydration-log-wrapper" *ngIf="showCaloriesBurned">
            <!-- Total Burned Calories -->
            <div class="hydration-log-info">
              <p><span class="bold">{{getBurnedCaloriesSum()}}</span><span
                  class="grey-text">/{{goalsCurrentDayBurnedCalories}} kcal (Total burned calories)</span></p>
            </div>

            <!-- Circle progress on the right side -->
            <div class="circle-progress-wrapper">
              <circle-progress [title]="percentageTitleBurnedcalories" [percent]="percentageBurnedCalories"
                [space]="-10" [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                [animationDuration]="1000"></circle-progress>
            </div>
          </div>

          <div class="hydration-log-wrapper" *ngIf="!showCaloriesBurned">
            <!--  Calories intake -->
            <div class="hydration-log-info">
              <p><span class="bold">{{CaloriesIntakeCurrentDay}}</span><span
                  class="grey-text">/{{goalsCurrentDayCaloriesIntake}} kcal (Calories intake)</span></p>
            </div>

            <!-- Circle progress on the right side -->
            <div class="circle-progress-wrapper">
              <circle-progress [title]="percentageTitleCaloriesIntake" [percent]="percentageCaloriesIntake"
                [space]="-10" [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                [animationDuration]="1000"></circle-progress>
            </div>
          </div>
        </mat-card-content>

        <mat-card-content class="dashboard-hydration-tracker" *ngIf="i === 2">
          <div class="hydration-log-wrapper">
            <!-- Hydration -->
            <div class="hydration-log-info">
              <p><span class="bold">{{WaterConsumptionCurrentDay}}</span><span
                  class="grey-text">/{{goalsCurrentDayHydration}} ml</span></p>
            </div>

            <!-- Circle progress on the right side -->
            <div class="circle-progress-wrapper">
              <circle-progress [title]="percentageTitleHydration" [percent]="percentageHydration" [space]="-10"
                [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"></circle-progress>
            </div>
          </div>
        </mat-card-content>

        <mat-card-content class="dashboard-hydration-tracker" *ngIf="i === 3">
          <div class="hydration-log-wrapper">
            <!-- Exercise Duration -->
            <div class="hydration-log-info">
              <p><span class="bold">{{ExerciseDurationCurrentDay}}</span><span
                  class="grey-text">/{{goalsCurrentDayExerciseDuration}}
                  minutes</span></p>
            </div>

            <!-- Circle progress on the right side -->
            <div class="circle-progress-wrapper">
              <circle-progress [title]="percentageTitleExercise" [percent]="percentageExercise" [space]="-10"
                [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"></circle-progress>
            </div>
          </div>
        </mat-card-content>

        <mat-card-content class="dashboard-hydration-tracker" *ngIf="i === 5">
          <div class="hydration-log-wrapper">
            <!-- Steps Count-->
            <div class="hydration-log-info">
              <p><span class="bold">{{StepsCountCurrentDay}}</span><span class="grey-text">/{{goalsCurrentDaySteps}}
                  steps</span></p>
            </div>

            <!-- Circle progress on the right side -->
            <div class="circle-progress-wrapper">
              <circle-progress [title]="percentageTitleSteps" [percent]="percentageSteps" [space]="-10" [radius]="45"
                [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"></circle-progress>
            </div>
          </div>
        </mat-card-content>


        <mat-card-content class="dashboard-hydration-tracker" *ngIf="i === 6">
          <div class="hydration-log-wrapper">
            <!-- Active Minutes -->
            <div class="hydration-log-info">
              <p><span class="bold">{{ getActiveMinutesSum()}}</span><span
                  class="grey-text">/{{goalsCurrentDayActiveMinutes}}
                  minutes</span></p>
            </div>

            <!-- Circle progress on the right side -->
            <div class="circle-progress-wrapper">
              <circle-progress [title]="percentageTitleActiveMinutes" [percent]="percentageActiveMinutes" [space]="-10"
                [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"></circle-progress>
            </div>
          </div>
        </mat-card-content>

        <mat-card-content *ngIf="i === 4">
                   
          <div class="chart-wrapper">
              <div class="chart-container">
                  <canvas baseChart [datasets]="chartData.datasets" [labels]="chartLabels" [options]="chartOptions"
                      chartType="bar"></canvas>
              </div>
          </div>
      </mat-card-content>
        <!----------END OF CONTENT OF THE MAT-CARDS ------------>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>