.grid-container {
  margin-bottom: 30px;
  margin-left: auto;
  
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.dashboard-card:hover {
  opacity: 0.8; /* Change opacity on hover for an element with class 'my-element' */
  transform: scale(1.05);
}

.first-card {
  box-shadow: 5px 5px 5px #939393;
 
}
.second-card {
  box-shadow: 5px 5px 5px #939393;
  
 
  
}
.third-card {
  box-shadow: 5px 5px 5px #939393;
 

}
.forth-card {
  box-shadow: 5px 5px 5px #939393;
  

}
.fifth-card {
  box-shadow: 5px 5px 5px #939393;
  

}
.sixth-card {
  box-shadow: 5px 5px 5px #939393;
  
 
}