.grid-container {
  margin-bottom: 30px;
  margin-left: auto;
  
}



.normal-text{
  font-weight: normal;
}

.mat-h1{
  font-size: x-large;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-first-card-content{
  display: flex;
  .left-content {
    flex: 1;
  }
  .right-content {
    margin-right: 10px; /* Adjust the margin as needed */
  }

}

.dashboard-card-content {
  text-align: center;
}

.dashboard-card:hover {
  opacity: 0.9; /* Change opacity on hover for an element with class 'my-element' */
  transform: scale(1.032);
  border-width: 2px;
  border-color: #080808 ;
}

.first-card {
  background: linear-gradient(90deg,
    #0f6a91 0%,
    rgb(108, 159, 163)) 80%;
 
}
.second-card {
  background: white;
  
 
  
}
.third-card {
  
  background: white;

}
.forth-card {
  
  background: white;

}
.fifth-card {
  
  background: white;

}
.sixth-card {
  
  background: white;
 
}