<app-loading *ngIf="(isLoading | async)"></app-loading>
<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="user">
        <button mat-icon-button class="mat-icon" (click)="collapsedRight.set(!collapsedRight())">
            <div class="center-circle">
                <div class="profile-div">
                    <p class="profile-pic">{{userInitials1}}</p>
                </div>
            </div>

        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav class="left-sidenav" opened mode="side" [style.width]="sideNavWidth()">
        <app-costum-sidenav />
    </mat-sidenav>

    <mat-sidenav-content class="content" *ngIf="isDashboardPage; else otherContent" [style.margin-left]="sideNavWidth()"
        [style.margin-right]="rightSideNavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <ng-template #otherContent>
        <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </ng-template>

    <mat-sidenav class="right-sidenav" *ngIf="isDashboardPage" mode="side" opened="true" position="end"
        [style.width]="rightSideNavWidth()">
        <app-right-sidenav></app-right-sidenav>
    </mat-sidenav>

</mat-sidenav-container>