<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="user">

        <div class="notifications">
            <button mat-icon-button>
                <mat-icon>notifications</mat-icon>

            </button>
        </div>


        <button mat-icon-button class="mat-icon" [matMenuTriggerFor]="menu">
            <div class="center-circle">
                <div class="profile-div">
                    <p class="profile-pic">{{userInitials2}}{{userInitials1}}</p>
                </div>
            </div>


        </button>

        <mat-menu #menu="matMenu">
            <!-- Settings option -->
            <button mat-menu-item routerLink="/layout/settings">
                <mat-icon>settings</mat-icon>
                <span>Profile Settings</span>
            </button>

            <button mat-menu-item (click)="toggleNotification()">
                <mat-icon>notifications</mat-icon>
                <span>Notifications</span>
                <span class="check-mark" *ngIf="showCheckMark">
                    <mat-icon>check_circle</mat-icon>
                </span>
            </button>

            <!-- Logout option -->
            <button mat-menu-item routerLink="/auth" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav class="left-sidenav" opened mode="side" [style.width]="sideNavWidth()">
        <app-costum-sidenav [collapsed]="collapsed()" />
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <mat-sidenav class="right-sidenav" mode="side" opened="true" position="end" [style.width]="'300px'">
        <app-right-sidenav></app-right-sidenav>
    </mat-sidenav>

</mat-sidenav-container>