.mat-elevation-z3 {
    position: relative;
    z-index: 5;
    display: flex;
    /* grid-template-columns: 1fr auto; */
    justify-content: space-between;
    box-shadow: 5px 5px 5px #939393;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            #0992B8 0%,
            #005173) 80%;
    
}


.user {
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: medium;


    .notifications {
        color: rgb(15, 14, 14)
    }

    .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: aqua;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

    }
}


.content {
    padding: 24px;
    background: rgba(221, 216, 216, 0.356);


}

mat-sidenav-container {
    height: calc(100vh - 64px);


}

.sidenav-header {
    padding-top: 24px;
    text-align: center;

    >img {
        border-radius: 100%;
        object-fit: cover;

        margin-bottom: 10px;
    }

    .header-text {
        >h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        >p {
            margin: 0;
            font-size: 0.8rem;
        }


    }

    .hide-header-text {
        opacity: 0;
        height: 0px;
    }


}

mat-sidenav,
mat-sidenav-content {

    transition: width 350ms ease;
}

.profile-div {
    width: 24px;
    /* Set the width and height of the circle */
    height: 24px;
    border-radius: 50%;
    /* Make it a circle */
    
    /* Set border color and width */
    background-color: #0992B8;
    /* Set background color */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.center-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adjust padding, margin, etc., if needed */
}

.profile-pic {

    margin: 0;
    /* Remove default margin */
    font-size: 15px;
    /* Adjust font size */
    font-weight: bold;
    /* Optionally set font weight */
    color: #151414;
    /* Set text color */

}

.check-mark {
    display: flex;
    align-items: center;
    margin-left: 8px;
    /* Adjust margin as needed */
}

.left-sidenav {
    background: white;
}

.right-sidenav {
    background: rgba(221, 216, 216, 0.356);
}