<div class="auth-wrapper">
    
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="form-wrapper">
        <div>
            <img class="login" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb5NPYsiF2mB7Xn_5ZHa-Pm7O8kVHenuOfqw&usqp=CAU" alt="">
        </div>
        <mat-form-field appearance="fill" class="example-full-width" *ngIf="!isLoginMode">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your firstname" type="name" name="firstname" ngModel [required]="true">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width" *ngIf="!isLoginMode">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your lastName" type="name" name="lastName" ngModel [required]="true">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your userName" type="userName" name="userName" ngModel [required]="true"
                userName>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width" *ngIf="!isLoginMode">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" type="email" name="email" ngModel [required]="true">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width" *ngIf="!isLoginMode">
            <mat-label>Gender</mat-label>
            <input matInput placeholder="Enter your gender" type="text" name="gender" ngModel [required]="true">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width" *ngIf="!isLoginMode">
            <mat-label>Weight</mat-label>
            <input matInput placeholder="Enter your weight" type="text" name="weight" ngModel [required]="true">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width" *ngIf="!isLoginMode">
            <mat-label>Height</mat-label>
            <input matInput placeholder="Enter your height" type="text" name="height" ngModel [required]="true">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width" *ngIf="!isLoginMode">
            <mat-label>Birth date</mat-label>
            <input matInput placeholder="Enter your birth date" type="date" name="dateOfBirth" ngModel [required]="true">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" type="password" name="password" ngModel [required]="true">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ?
                'Login':'Sign Up'}}</button>
        </div>
        <div>
            <span>
                {{
                isLoginMode ? 'Don\'t have an account? ' : 'Already have an account?'
                }}
            </span>
            <button mat-flat-button type="button" (click)="onSwitchMode()">{{ isLoginMode ? 'Sign Up' : 'Login'
                }}</button>
        </div>
    </form>
</div>
