@use "@angular/material" as mat;
@include mat.core();

::-webkit-scrollbar {
    width: 1px;
    overflow-y: scroll;
    
    
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3) ;
    border-radius: 10px;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --primary-color: #000303;
}

$mat-primary: (
    main: #011014,
    lighter: rgb(202, 235, 202),
    darker: #005173,

    contrast: (main: #ffffff,
        lighter: #000000,
        darker: #ffffff,
    ),
);

$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);
$theme-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((color: (primary: $theme-primary,
                accent: $theme-accent,
            ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

@include mat.all-component-themes($my-theme);