<div class="grid-container">

    <div class="calories-header">
        <h1 class="mat-h1">Calories tracker</h1>

        <button mat-raised-button color="primary" type="button" class="create-goal-btn"
        (click)="openCreateGoalsDialog()">Create
        Goal</button>
    </div>

    <mat-grid-list cols="3" rowHeight="115px">
        <mat-grid-tile *ngFor="let card of cards | async; let i = index" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="calories-card"
                [ngClass]="{ 'first-card': i === 0, 'second-card': i === 1,'third-card': i === 2 }">

                <!----------HEADERS OF THE MAT-CARDS ------------>
                <mat-card-header>
                    <mat-card-title *ngIf="i === 0">
                        <div class="BMI-card-header">
                            <mat-icon class="BMI-card-icon">assessment</mat-icon>
                            <span class="BMI-card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>

                    <mat-card-title *ngIf="i === 1">
                        <div class="BMI-card-header">
                            <mat-icon class="BMI-card-icon">whatshot</mat-icon>
                            <span class="BMI-card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>

                    <mat-card-title *ngIf="i === 2">
                        <div class="BMI-card-header">
                            <mat-icon class="BMI-card-icon">water_drop</mat-icon>
                            <span class="BMI-card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>

                    <mat-card-title *ngIf="i === 3">
                        <div class="BMI-card-header">
                            <mat-icon class="BMI-card-icon">fact_check</mat-icon>
                            <span class="BMI-card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>

                    <mat-card-title *ngIf="i === 4">
                        <div class="BMI-card-header">
                            <mat-icon class="BMI-card-icon">hourglass_top</mat-icon>
                            <span class="BMI-card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <!----------END OF HEADERS OF THE MAT-CARDS ------------>

                <!----------CONTENT OF THE MAT-CARDS ------------>
                <mat-card-content class="bmi-card-content" *ngIf="i === 0">
                    <ng-container>
                        <div class="bmi-info-container">
                            <p>
                                <span style="font-weight: bold; font-size: 1em;">BMI:</span>
                                {{ BMI }} ({{ BMIClassification }})
                            </p>
                            <div class="bmi-circle" [ngClass]="getBMICircleClass(BMIClassification)">
                                <span class="icon-inside-circle">
                                    <mat-icon class="checkmark-icon"
                                        *ngIf="isNormalWeight(BMIClassification)">check</mat-icon>
                                    <mat-icon class="warning-icon"
                                        *ngIf="!isNormalWeight(BMIClassification)">report_problem</mat-icon>
                                </span>

                            </div>
                        </div>
                        <p>
                            <span style="font-weight: bold; font-size: 1em;">Recommendation:</span> {{ Recommendation }}
                        </p>
                    </ng-container>
                </mat-card-content>

                <mat-card-content class="calories-card-content" *ngIf="i === 1">
                    <ng-container>
                        <div class="calories-info-container">
                            <p class="calories-data">
                                <span style="font-weight: bold; font-size: 1em;display:block;">Calories intake: <span
                                        style="font-weight: normal;">{{CaloriesIntakeCurrentDay ?
                                        CaloriesIntakeCurrentDay: 0}} kcal</span></span>
                                <span style="font-weight: bold; font-size: 1em;display:block;">Calories burned: <span
                                        style="font-weight: normal;">{{getBurnedCaloriesSum()}} kcal</span></span>
                                <span style="font-weight: bold; font-size: 1em;display:block;">Calories surplus: <span
                                        style="font-weight: normal;">{{CaloriesIntakeCurrentDay -
                                        getBurnedCaloriesSum()}} kcal</span></span>
                            </p>
                        </div>
                        <p>
                            <span style="font-weight: bold; font-size: 1em;">Recommendation: </span>
                            {{ getCalorieRecommendation(BMIClassification) }}
                        </p>
                    </ng-container>
                </mat-card-content>

                <mat-card-content class="hydration-card-content" *ngIf="i === 2">
                    <app-hydration></app-hydration>
                </mat-card-content>

                <mat-card-content class="calculator-card-content" *ngIf="i === 3">
                    <ng-container>
                        <form #foodForm="ngForm" (ngSubmit)="getNutritionalValues(foodForm.value)">
                            <div class="calculator-info-container">
                                <mat-form-field appearance="fill" class="mat-form-field">
                                    <mat-label>Food input</mat-label>
                                    <input matInput type="string" name="foodItems" placeholder="Enter food items"
                                        ngModel required>
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Grams</mat-label>
                                    <input matInput type="number" name="foodGrams" placeholder="Enter food grams"
                                        ngModel required>
                                </mat-form-field>

                                <div class="button-container">
                                    <button mat-raised-button color="primary" type="submit" [disabled]="!foodForm.valid"
                                        style="margin-right: 10px;">
                                        Calculate
                                    </button>
                                    <button mat-raised-button color="primary" type="submit"
                                        (click)="createNutritionLog(foodForm.value)" [disabled]="!foodForm.valid">
                                        Create Log
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="foodItemExists" class="food-details-container">

                                <div class="food-header">
                                    <p class="food-name">Food item: {{ foodName }}</p>
                                    <div class="grade-container">
                                        <p class="food-score">
                                            <span style="font-weight: bold;">Score:</span> {{ foodScore }}
                                        </p>
                                        <p class="food-grade" [ngClass]="getGradeClass(foodScore)">
                                            <span style="font-weight: bold;"></span> {{ getGrade(foodScore) }}
                                        </p>
                                    </div>
                                </div>

                                <div class="nutrient-details">
                                    <div class="column">
                                        <p class="calories-data">
                                            <span style="font-weight: bold; font-size: 1em;display:block;">Calories:
                                                <span style="font-weight: normal;">{{ calories}} kcal</span></span>
                                            <span style="font-weight: bold; font-size: 1em;display:block;">Proteins:
                                                <span style="font-weight: normal;">{{protein}} g</span></span>
                                            <span
                                                style="font-weight: bold; font-size: 1em;display:block;">Carbohydrates:
                                                <span style="font-weight: normal;">{{carbohydrates
                                                    }} g</span></span>
                                            <span style="font-weight: bold; font-size: 1em;display:block;">Sugar: <span
                                                    style="font-weight: normal;">{{sugar
                                                    }} g</span></span>
                                            <span style="font-weight: bold; font-size: 1em;display:block;">Fiber: <span
                                                    style="font-weight: normal;">{{fiber
                                                    }} g</span></span>
                                        </p>
                                    </div>


                                    <div class="column">
                                        <p class="calories-data">
                                            <span style="font-weight: bold; font-size: 1em;display:block;">Sodium: <span
                                                    style="font-weight: normal;">{{ sodium}} mg</span></span>
                                            <span style="font-weight: bold; font-size: 1em;display:block;">Potassium:
                                                <span style="font-weight: normal;">{{potassium}} mg</span></span>
                                            <span style="font-weight: bold; font-size: 1em;display:block;">Fat: <span
                                                    style="font-weight: normal;">{{fat
                                                    }} g</span></span>
                                            <span style="font-weight: bold; font-size: 1em;display:block;">Saturated
                                                fat: <span style="font-weight: normal;">{{saturatedFat
                                                    }} g</span></span>
                                            <span style="font-weight: bold; font-size: 1em;display:block;">Cholesterol:
                                                <span style="font-weight: normal;">{{cholesterol
                                                    }} g</span></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="!foodItemExists">
                                <p style="font-weight: bold;">No data available for the provided food item. Check the
                                    spelling and try again.</p>
                            </div>
                        </form>
                    </ng-container>
                </mat-card-content>

                <mat-card-content class="progress-calories-tracker" *ngIf="i === 4">

                    <div class="progress-wrapper">
                        <!--  Calories intake progress -->
                        <div>
                            <p><span class="bold">{{CaloriesIntakeCurrentDay}}</span><span
                                    class="grey-text">/{{goalsCurrentDayCaloriesIntake}} kcal Calories intake</span></p>
                        </div>
                        <!-- Circle progress on the right side -->
                        <div>
                            <circle-progress [title]="percentageTitleCaloriesIntake"
                                [percent]="percentageCaloriesIntake" [space]="-10" [radius]="45" [outerStrokeWidth]="10"
                                [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'"
                                [animation]="true" [animationDuration]="1000"></circle-progress>
                        </div>
                    </div>

                    <div class="progress-wrapper">
                        <!--  Calories burned intake -->
                        <div>
                            <p><span class="bold">{{getBurnedCaloriesSum()}}</span><span
                                    class="grey-text">/{{goalsCurrentDayBurnedCalories}} kcal Burned calories</span></p>
                        </div>
                        <!-- Circle progress on the right side -->
                        <div>
                            <circle-progress [title]="percentageTitleBurnedCalories"
                                [percent]="percentageBurnedCalories" [space]="-10" [radius]="45" [outerStrokeWidth]="10"
                                [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'"
                                [animation]="true" [animationDuration]="1000"></circle-progress>
                        </div>
                    </div>
                </mat-card-content>
                <!----------END OF CONTENT OF THE MAT-CARDS ------------>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>