.grid-container {
    margin-bottom: 30px;
    margin-left: auto;

}

.mat-h1 {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
}

.calories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.calories-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.BMI-card-header {
    display: flex;
    align-items: center;
}

.BMI-card-title {
    margin-left: 8px;
    font-size: 18px;
}

.BMI-card-icon {
    font-size: x-large !important;
    color: rgb(34, 43, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #2cb9a2b4;
}

.bmi-info-container {
    display: flex;
    align-items: center;
}

.bmi-circle {
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
}

.icon-inside-circle {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 59%;
    left: 48.5%;
    transform: translate(-50%, -50%);
}

.checkmark-icon {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.warning-icon {
    font-size: 22px;
    color: rgb(196, 140, 44);
    font-weight: bold;
}

.normal-weight {
    background-color: #1a641c;
}

.underweight {
    background-color: #d72215;
}

.overweight {
    background-color: #b23317;
}

.obese {
    background-color: #980704;
}

.calories-data {
    display: block;
}

.calculator-card-content {
    margin-top: 30px;
}

.calculator-info-container {
    display: flex;
}

.mat-form-field {
    margin-right: 20px;
}

.button-container {

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.food-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.nutrient-details {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 30px;
}

.bold-text {
    font-weight: bold;
}

.food-name {
    font-weight: bold;
    font-size: 1.2em;
}

.food-score {
    font-size: 1.2em;
}

.grade-container {
    display: flex;
    align-items: center;
}

.food-grade {
    margin-left: 10px;
    padding: 3px 8px;
    border-radius: 5px;
}

.grade-a {
    color: white;
    background-color: darkgreen;
}

.grade-b {
    color: white;
    background-color: rgb(211, 211, 2);
}

.grade-c {
    color: white;
    background-color: orange;
}

.grade-d {
    color: white;
    background-color: red;
}

.snackbar-success {
    background-color: green;
    color: white;
}

.progress-calories-tracker .progress-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bold {
    font-size: 20px;
    font-weight: bold;
}

.grey-text {
    color: rgba(0, 0, 0, 0.43);
    font-size: 14px;
    font-weight: bold;
}