.user-profile-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.edit-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            #0992B8 0%,
            #2cb9a2b4) 80%;
    margin: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.edit-profile>div {
    margin: 0 30px;
}

.edit-profile-desc {
    color: #161414;
}

.user-profile {
    display: flex;
    margin: 10px 20px;
    
}

.user-profile-info {
    width: 34%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 2%;
    border-radius: 10px;
    margin-bottom: 30px; 
}

.user-profile-editor {
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin-bottom: 30px; 
    font-weight: bold;
    width: 70%;
}

.usr-title {
    padding: 5px;
    color: #0c1113;
   

}

.profile-picture {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

.profile-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* user profile edit form */

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    display: block;
    width: 110%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0992B8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.small-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.project-count {
    text-align: center;
    margin-bottom: 10px;
    color: #888;
    font-weight: bold;
}

.project-count p {
    font-size: 24px;
    font-weight: bold;
    margin: 7px;
}

.project-count span {
    font-size: 14px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.change-password-btn,
.delete-account-btn {
    width: 200px;
    margin-bottom: 10px;
}

.google-sign-in-btn {
    color: #fff;
    width: 250px;
    margin-bottom: 10px;
    position: relative;
    padding-right: 30px; /* Adjust the padding to accommodate the icon */
    /* Other button styles */
  
    /* Example Google icon */
    background: url('https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg') no-repeat;
    background-size: 28px 28px; /* Adjust the size of the icon */
    background-position: right 10px center;
    
}

.google-sign-in-btn:hover {
    background-color:  #0992B8;
}

.google-sign-in-btn::after {
    content: '';
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the position of the icon */
  transform: translateY(-50%);
  background-size: contain;
  }

.delete-account-btn {
    background-color: #ff4f4f;
    color: #fff;
}

.change-password-btn:hover {
    background-color:  #0992B8;
}

.delete-account-btn:hover {
    background-color: red;
}

.change-password-btn:active,
.delete-account-btn:active {
    background-color: #4c7c89;
}

/* .user-profile {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f9f9f9;
      text-align: center;
  }
  
  .profile-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
  }
  
  .profile-circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 48px;
      font-weight: bold;
      color: #fff;
      margin-right: 20px;
  }
  
  h1 {
      font-size: 24px;
      margin: 0;
  }
  
  .profile-info {
      margin-top: 20px;
  }
  
  .info-row {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
  }
  
  label {
      font-weight: bold;
      width: 120px;
  }
  
  span {
      flex-grow: 1;
  } */