.chart-interval {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.interval-selector {
    display: flex;
    justify-content: center;
}

.interval-button {
    padding: 10px 20px;
    margin: 20px 5px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #7fa8b5;
    /* Updated color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.interval-button:hover {
    background-color: #030f1b;
}

.interval-button.active {
    background-color: #05192e;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    
}

.chart-container {
    width: 80%;
    max-width: 900px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom:  30px;
}

.chart-container {
    position: relative;
}

.chart-nav-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.arrow-button {
    /* padding: 4px; */
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: black;
    /* Choose a suitable color */
    transition: color 0.3s ease;
    margin-right: 5px;
    /* Adjust margin between buttons */
}

.arrow-button:hover {
    color: red;
    /* Darker shade on hover */
}

/* @media screen and (max-width: 600px) {
    .chart-container {
        width: 80%;
        max-width: 900px;
        height: 200px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width: 600px) and (max-width: 779px) {
    .chart-container {
        width: 80%;
        max-width: 1000px;
        height: 250px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

  
}
@media screen and (min-width: 780px) and (max-width: 960px) {
    .chart-container {
        width: 80%;
        max-width: 900px;
        height: 280px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    

}

@media screen and (min-width: 960px) and (max-width: 1279px) {
    .chart-container {
        width: 80%;
        max-width: 820px;
        height: 400px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    

}

@media screen and (min-width: 1280px) and (max-width: 1649px) {

}

@media screen and (min-width: 1650px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

} */