<ng-container>
    <div class="hydration-info-container">
        <p class="hydration-data">
            <span style="font-weight: bold; font-size: 1em;display:block;">Currently consumed:
                <span style="font-weight: normal;">{{ water }} ml</span>
            </span>
        </p>
        
            <form #hydrationForm="ngForm" (ngSubmit)="createLog()">
            <mat-form-field appearance="fill">
                <mat-label>Water input</mat-label>
                <input matInput type="number" [(ngModel)]="userWaterIntake" name="waterInput" required placeholder="Enter liters">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!hydrationForm.valid" style="margin-left: 10px;">Create Log</button>
            </form>
        
    </div>
    <p>
        <span style="font-weight: bold; font-size: 1em;">Recommendation:</span>
        <span> The recommended daily water intake based on your weight is: <span style="font-weight: bold;">{{ calculateRecommendedWaterIntake(weight) }} ml</span>/day</span>
    </p>
</ng-container>

