<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="110px">
        <mat-grid-tile colspan="2" rowspan="2">
            <mat-card class="right-sidenav-card" ngClass="card">

                <mat-card-content class="right-sidenav-card-content">
                    <div class="profile-div">
                        <img src="/assets/Profile-pic.jpg" alt="user-name initials" class="profile-pic">

                    </div>
                    <div>Cursaru David | 25 years old</div>

                    <mat-grid-list class="mat-grid-list" cols="3" rowHeight="2:1">
                        <mat-grid-tile class="mat-grid">
                            <div class="gender-container">
                                <div class="gender-div1">Gender</div>
                                <div class="gender-div2">Male</div>
                            </div>
                       </mat-grid-tile>

                        <mat-grid-tile class="mat-grid">
                            <div class="gender-container">
                                <div class="gender-div1">Height</div>
                                <div class="gender-div2">178 cm</div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="mat-grid">
                            <div class="gender-container">
                                <div class="gender-div1">Weight</div>
                                <div class="gender-div2">60 kg</div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

