.grid-container {
    margin: 5px;

}

.mat-grid-header {
    text-align: center;
}

.right-sidenav-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
}


.right-sidenav-card-content {
    text-align: center;
    font-weight: bold;
    font-size: small;
    color: black;






}

.card {
    background: white;

}

.profile-div {
    width: 43px;
    /* Set the width and height of the circle */
    height: 43px;
    border-radius: 50%;
    /* Make it a circle */
    
    /* Set border color and width */
    background-color: #0992B8;
    /* Set background color */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.center-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adjust padding, margin, etc., if needed */
}

.profile-pic {

    margin: 0;
    /* Remove default margin */
    font-size: 20px;
    /* Adjust font size */
    font-weight: bold;
    /* Optionally set font weight */
    color: #151414;
    /* Set text color */


}

.mat-grid-list {
    margin-top: 20px;
}

.mat-grid {

    height: 20px;
    border-right: 2px solid #0e0d0d;

    .gender-div1 {
        font-size: small;

        color: black;
        opacity: .6;
    }

    .gender-div2 {
        margin-top: 10px;

    }
}

.mat-grid:last-child {
    border-right: none;
}

.gender-contaienr {
    display: block;


}

.mat-h1 {
    font-size: large;
    text-align: center;
}

.upper-right-content {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;

}



.reminder-card {

    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 10px;
    right: 10px;
    bottom: 2px;
    border-radius: 12px;
    overflow-y: scroll;
    max-height: 100px;
    



}

.grid-tile-reminders {
    margin-top: 15px;
}

.current-day {
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;

}

.cards-container {
    margin-bottom: 20px;
}

.reminder-flex-containter {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
   


}

.reminder-content-right {
    font-weight: bold;
    font-size: small;


    /* margin-right: auto; */
}

.reminder-content-left {
    font-size: 12px;
    font-weight: bold;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 20px;
    background-color: #0992b84f;
    margin-bottom: 20px;



}

.reminder-icon-container {
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2px;
}

.reminder-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    /* Adjust the width and height according to your requirement */
    height: 30px;
    
    /* Border color */
    border-radius: 10px;
    /* Adjust the border-radius to control corner roundness */
    background-color: #0992b8b4;
}

.no-reminders-message{
    margin-left: 10px;
    font-weight: bold;
}
