<div class="grid-container">

    <div class="exercise-header">
        <h1 class="mat-h1">Exercise tracker</h1>

        <button mat-raised-button color="primary" type="button" class="create-goal-btn"
            (click)="openCreateGoalsDialog()">Create
            Goal</button>
    </div>

    <mat-grid-list [cols]="(cards | async)?.[4]?.columns || (cards | async)?.[3]?.columns" rowHeight="80px">
        <mat-grid-tile *ngFor="let card of cards | async; let i = index" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="exercise-card"
                [ngClass]="{ 'first-card': i === 0, 'second-card': i === 1,'third-card': i === 2, 'forth-card': i === 3}">

                <!----------HEADERS OF THE MAT-CARDS ------------>
                <mat-card-header>
                    <mat-card-title *ngIf="i === 0">
                        <div class="card-header">
                            <mat-icon class="card-icon">assessment</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>

                    <mat-card-title *ngIf="i === 1">
                        <div class="card-header">
                            <mat-icon class="card-icon">hourglass_top</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>

                    <mat-card-title *ngIf="i === 2">
                        <div class="card-header">
                            <mat-icon class="card-icon">directions_run</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>

                    <mat-card-title *ngIf="i === 3">
                        <div class="card-header">
                            <mat-icon class="card-icon">fact_check</mat-icon>
                            <span class="card-title">{{card.title}}</span>
                        </div>
                    </mat-card-title>

                </mat-card-header>
                <!----------END OF HEADERS OF THE MAT-CARDS ------------>

                <!----------CONTENT OF THE MAT-CARDS ------------>
                <mat-card-content class="card-content" *ngIf="i === 0">
                    <mat-grid-list class="mat-grid-list-exercise-data" cols="3" rowHeight="3:1">

                        <mat-grid-tile class="exercise-data-mat-grid">
                            <div class="exercise-data-container">
                                <div class="exercise-data-div1">Excersie duration</div>
                                <div class="exercise-data-div2"> {{ExerciseDurationCurrentDay}} min</div>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile class="exercise-data-mat-grid">
                            <div class="exercise-data-container">
                                <div class="exercise-data-div1">Excersies</div>
                                <div class="exercise-data-div2">{{exerciseCounter}}</div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="exercise-data-mat-grid">
                            <div class="exercise-data-container">
                                <div class="exercise-data-div1">Burned calories</div>
                                <div class="exercise-data-div2">{{BurnedCaloriesFromExercises}} kcal</div>
                            </div>
                        </mat-grid-tile>

                    </mat-grid-list>
                </mat-card-content>

                <mat-card-content class="progress-exercise-tracker" *ngIf="i === 1">
                    <div class="progress-wrapper">
                        <!-- Exercise Duration -->
                        <div>
                            <p><span class="bold">{{ExerciseDurationCurrentDay}}</span><span
                                    class="grey-text">/{{goalsCurrentDayExerciseDuration}}
                                    minutes</span></p>
                        </div>

                        <!-- Circle progress on the right side -->
                        <div>
                            <circle-progress [title]="percentageTitleExercise" [percent]="percentageExercise"
                                [space]="-10" [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                                [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                [animationDuration]="1000"></circle-progress>
                        </div>
                    </div>
                </mat-card-content>

                <mat-card-content class="calculator-card-content" *ngIf="i === 3">
                    <ng-container>
                        <form [formGroup]="exerciseFormGroup"
                            (ngSubmit)="getExerciseBurnedCalories(exerciseFormGroup.value)">
                            <div class="calculator-info-container">
                                <mat-form-field appearance="fill">
                                    <mat-label>Exercise type</mat-label>
                                    <input matInput formControlName="exerciseType" [matAutocomplete]="auto"
                                        panelClass="custom-autocomplete-panel" placeholder="Enter exercise type">
                                    <mat-autocomplete class="auto" #auto="matAutocomplete">
                                        <mat-option *ngFor="let exercise of exerciseSuggestions" [value]="exercise">
                                            {{ exercise }}
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>

                                <mat-form-field appearance="fill" style="margin-left:20px;">
                                    <mat-label>Duration(min)</mat-label>
                                    <input matInput type="number" formControlName="exerciseDuration"
                                        placeholder="Enter duration">
                                </mat-form-field>
                                <div class="button-container">
                                    <button mat-raised-button color="primary" type="submit"
                                        [disabled]="!exerciseFormGroup.valid" style="margin-right: 10px;">
                                        Calculate
                                    </button>
                                    <button mat-raised-button color="primary" type="submit"
                                        [disabled]="!exerciseFormGroup.valid"
                                        (click)="createExerciseLog(exerciseFormGroup.value)">
                                        Create Log
                                    </button>
                                </div>
                            </div>
                        </form>

                        <button class="intensity-button" mat-raised-button color="primary"
                            (click)="openIntensityPopup()">
                            Choose Intensity
                        </button>
                        <div *ngIf="displayBurnedCalories" class="burned-calories-container">
                            <p>Exercise/Activity: <span
                                    style="font-weight: normal; font-size: 1em;">{{exerciseFormGroup.value.exerciseType}}</span>
                            </p>
                            <p>Burned calories: <span style="font-weight: normal; font-size: 1em;">{{burnedCalories}}
                                    kcal</span></p>
                            <p>Cardio points achevied: <span
                                    style="font-weight: normal; font-size: 1em;">{{cardioPointsToAdd}}</span> </p>
                        </div>
                    </ng-container>
                </mat-card-content>

                <mat-card-content class="activities-card-content" *ngIf="i === 2">
                    <ng-container *ngIf="exercises && exercises.length > 0; else emptyJournal">
                        <div class="mat-card-container">
                            <mat-card class="journal-mat-card" *ngFor="let exercise of exercises;">
                                <mat-card-header class="journal-mat-card-header">
                                    
                                  <div mat-card-avatar class="example-header-image">
                                    <mat-icon style="color: rgb(34, 43, 107);">local_activity</mat-icon>
                                  </div>
                                  
                                  <div class="header-content" [matTooltip]="exercise.name">
                                    <ng-container *ngIf="isTruncated; else fullText">
                                      <mat-card-title #titleRef class="hoverable" style="font-size: large;">{{ exercise.name }}</mat-card-title>
                                    </ng-container>
                                    <ng-template #fullText>
                                      <mat-card-title>{{ exercise.name }}</mat-card-title>
                                    </ng-template>
                                  </div>
                                </mat-card-header>
                                <mat-card-content>
                                    <button mat-icon-button class="delete-button" (click) = "deleteExercise(exercise.logId,exercise.duration, exercise.burned_calories, exercise.heart_minutes)">
                                        <mat-icon style="color: rgb(34, 43, 107);" >delete</mat-icon>
                                      </button>
                                  <p class="cardio-icon-journal">
                                    <mat-icon style="color: #0992B8;">favorite_border</mat-icon>
                                    <span style="font-weight: bold;">{{exercise.heart_minutes }} pct</span>
                                  </p>
                                  <p><span style="font-weight: bold;">Burned Calories:</span> {{ exercise.burned_calories }} kcal</p>
                                  <div class="bottom-right">
                                    <p><span style="font-weight: bold;">Duration: </span> {{ exercise.duration }} min</p>
                                    <p style="font-weight: bold;">{{ exercise.date | date:'h:mm a' }}</p>
                                  </div>
                                
                                </mat-card-content>
                              </mat-card>
                              
                        </div>
                    </ng-container>
                    <ng-template #emptyJournal>
                        <div style="font-weight: bold;">
                            <p>The journal is empty, no exercise recorded today.</p>
                        </div>
                    </ng-template>
                </mat-card-content>

                <!----------END OF CONTENT OF THE MAT-CARDS ------------>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>