.grid-container {
    margin-bottom: 30px;
    margin-left: auto;

}

.mat-h1 {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
}

.create-goal-btn {
    margin-right: 30px;
}

.exercise-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.exercise-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-title {
    margin-left: 8px;
    font-size: 18px;
}

.card-icon {
    font-size: x-large !important;
    color: rgb(34, 43, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #2cb9a2b4;
}

.mat-grid-list-exercise-data {
    margin-top: 30px;
}

.exercise-data-mat-grid {
    height: 40px;
    border-right: 2px solid #0e0d0d;

    .exercise-data-div1 {
        font-size: 14px;
        font-weight: bold;
        color: black;
        opacity: .6;
    }

    .exercise-data-div2 {
        margin-top: 10px;
        font-weight: bold;
        font-size: large;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

.exercise-data-mat-grid:last-child {
    border-right: none;
}

.exercise-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.progress-exercise-tracker .progress-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bold {
    font-size: 30px;
    font-weight: bold;
}

.grey-text {
    color: rgba(0, 0, 0, 0.43);
    font-size: 20px;
    font-weight: bold;
}

.calculator-card-content {
    margin-top: 30px;
}

.calculator-info-container {
    display: flex;
}

.mat-form-field {
    margin-right: 20px;
}

.button-container {

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.custom-autocomplete-panel .auto {
    max-height: 120px;
    /* Set a maximum height for the panel */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.snackbar-success {
    background-color: green;
    color: white;
}

/* Media for different screen sizes */

@media screen and (max-width: 600px) {
/* Styles for Small and Handset breakpoints */
    .calculator-info-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    mat-form-field {
        margin-right: 0;
        margin-left: 0 !important;
        margin-bottom: 0px;
    }

    .button-container {
        margin-left: 0;
        display: flex;
    }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
    /* Styles for Medium breakpoints */
    .button-container {
        margin-left: 10px;
        margin-top: 0;
        display: block;

    }

    button {
        margin-bottom: 5px !important;
    }

    .calculator-info-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    mat-form-field {
        margin-right: 10px;
        margin-left: 0 !important;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
    /* Styles for medium and larger  breakpoints */
    .calculator-info-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    mat-form-field {
        margin-right: 10px;
        margin-left: 0 !important;
        margin-bottom: 0px;
    }

    .button-container {
        margin-left: 0;

        display: flex;

    }
}